body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    background: url('../images/80s-slang.gif')
}
#gifSpace{
    margin-top: 8%;
}
@media only screen and (max-width: 1440px){
    #gifSpace{
        margin-top: 13%;
    }
}

@media only screen and (max-width: 1024px){
    #gifSpace{
        margin-top: 14%;
    }
}

@media only screen and (max-width: 786px){
    #gifSpace{
        margin-top: 18%;
    }
}
@media only screen and (max-width: 425px){
    #gifSpace{
        margin-top: 8%;
    }
}